{% extends 'base.html.twig' %}

{% block title %}Register{% endblock title %}

{% block main %}
    <div class="flex flex-col min-h-full justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto h-10 w-auto" src="{{ asset('images/logo.png') }}" alt="logo">
            <h2 class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Register</h2>
        </div>

        <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
                {{ form_start(registrationForm) }}
                <div class="mt-1">
                    {{ form_label(registrationForm.username, 'Username', {
                        'label_attr': {'class': 'block text-sm font-medium leading-6 text-gray-900'}
                    }) }}
                    {{ form_widget(registrationForm.username, {
                        'attr': {'class': 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6'}
                    }) }}
                    <div class="items-center tracking-wide text-red-500 text-sm font-medium mt-1">
                        {{ form_errors(registrationForm.username, {
                            'attr': {'class': 'flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1'}
                        }) }}
                    </div>
                </div>

                <div class="mt-1">
                    {{ form_label(registrationForm.email, 'Email', {
                        'label_attr': {'class': 'block text-sm font-medium leading-6 text-gray-900'}
                    }) }}
                    {{ form_widget(registrationForm.email, {
                        'attr': {'class': 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6'}
                    }) }}
                    <div class="items-center tracking-wide text-red-500 text-sm font-medium mt-1">
                        {{ form_errors(registrationForm.email, {
                            'attr': {'class': 'flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1'}
                        }) }}
                    </div>
                </div>

                <div class="mt-1">
                    {{ form_label(registrationForm.plainPassword.first, 'Password', {
                        'label_attr': {'class': 'block text-sm font-medium leading-6 text-gray-900'}
                    }) }}
                    {{ form_widget(registrationForm.plainPassword.first, {
                        'attr': {'autocomplete': 'new-password', 'class': 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6'}
                    }) }}
                    <div class="items-center tracking-wide text-red-500 text-sm font-medium mt-1">
                        {{ form_errors(registrationForm.plainPassword.first) }}
                    </div>
                </div>

                <div class="mt-1">
                    {{ form_label(registrationForm.plainPassword.second, 'Repeat Password', {
                        'label_attr': {'class': 'block text-sm font-medium leading-6 text-gray-900'}
                    }) }}
                    {{ form_widget(registrationForm.plainPassword.second, {
                        'attr': {'autocomplete': 'new-password', 'class': 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6'}
                    }) }}
                    <div class="items-center tracking-wide text-red-500 text-sm font-medium mt-1">
                        {{ form_errors(registrationForm.plainPassword.second) }}
                    </div>
                </div>

                <div class="mt-1">
                    {{ form_label(registrationForm.agreeTerms, 'Agree terms', {
                        'label_attr': {'class': 'text-sm font-medium leading-6 text-gray-900'}
                    }) }}
                    {{ form_widget(registrationForm.agreeTerms, {
                        'attr': {'class': 'ml-1'}
                    }) }}
                    <div class="items-center tracking-wide text-red-500 text-sm font-medium mt-1">
                        {{ form_errors(registrationForm.agreeTerms) }}
                    </div>
                </div>

                <div>
                    <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign in</button>
                </div>
                {{ form_end(registrationForm) }}
            <p class="mt-10 text-center text-sm text-gray-500">
                Already registered?
                <a href="{{ path('app_login')}}" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Login</a>
            </p>
        </div>
    </div>
{% endblock main %}
